* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f0f0 !important;
  font-family: Arial, Helvetica, sans-serif;
}
header .my-navbar {
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  position: absolute;
  height: 80px;
  background-image: linear-gradient(45deg, #ddeef0, #bfdee2);
  padding: 10px 42px;
  display: none;
  animation: 0.5s none dropdown;

  /* filter: blur(8px);
    -webkit-filter: blur(8px); */
}
.search-container {
  justify-content: space-around;
}
.header-menu-search {
  width: 70%;
}
.navbar-menu .nav-item {
  padding: 10px 15px;
  align-items: center;
}
.dropMenuBar .nav-item a,
.navbar-menu .nav-item a,
.nav-item {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.dropMenuBar li a:hover,
.navbar-menu .nav-item a:hover,
.nav-item:hover {
  color: #ff6162;
}
.header-nav {
  /* background-color: #00001d; */
  background-color: #fff;
}
.search-container {
  display: flex;
}

.overlay {
  position: absolute;
  background-color: #0f2454;
  opacity: 0.5;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.searchForm {
  width: 450px;
}
.searchBtn {
  top: 4px;
  right: 52px;
}
.fixed-search-button:hover,
.header-search-button:hover {
  background-color: #ff6162 !important;
  color: #fff !important;
  border: #fff 2px;
}
.header-input:focus {
  box-shadow: none !important;
}

.buySuggest {
  font-size: 13px;
  color: #ffffff;
  background: #e53637;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 14px 20px;
  border-radius: 4px 0 0 4px;
  margin-right: 1px;
}
.buySuggesticon {
  font-size: 20px;
  display: inline-block;
  background: #e53637;
  padding: 11px 5px 16px 8px;
  color: #ffffff;
  border-radius: 0 4px 4px 0;
}
.my-navbar {
  top: -80px;
}
nav .logo {
  justify-content: center !important;
}
.navbar-expand-lg {
  flex-wrap: wrap !important;
}
.dropMenuBar li a {
  color: #245780;
}

.menuBar {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.menuBar > li {
  display: inline-block;
  text-align: center;
  width: 150px;
}
/* Start Product Css */
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 475px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 89%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 1;
  transform: translateY(63px);
}

.pre-btn {
  left: 0;
  background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

.nxt-btn {
  right: 0;
}
.pre-btn2 {
  left: -20px;
}
.nxt-btn2 {
  right: -20px;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}
/* End Production Css */
/* start list css */
.list {
  text-align: center;
}
.list img {
  width: 80%;
  height: 75%;
}
/* end list css */

/* start Product 2  */
.product-container2 {
  padding: 1vh 2vh;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.product-container2::-webkit-scrollbar {
  display: none;
}
.product-card2:hover .card-btn {
  opacity: 1;
}
.pre-btn2,
.nxt-btn2 {
  position: absolute;
  top: 45%;
  border: none;
  width: 40px;
  height: 40px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  transform: rotate(45deg);
  opacity: 0.5;
}
.pre-btn2 i,
.nxt-btn2 i {
  transform: rotate(-45deg);
  font-size: 18px;
  font-weight: 600;
}
.pre-btn2:hover,
.nxt-btn2:hover {
  opacity: 1;
  width: 50px;
  height: 50px;
  font-size: 24px;
  transition: linear 0.2s;
}

/* end product 2  */

.crossSection {
  background-color: #f2f9f9;
}
.section-title h4::after {
  position: absolute;
  left: 0;
  top: -6px;
  height: 32px;
  width: 4px;
  background: #e53637;
  content: "";
}

section .section-title > h4 {
  position: relative;
  padding-left: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 30px;
}
.btn__all {
  text-align: right;
  margin-bottom: 30px;
}
.primary-btn {
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;

  letter-spacing: 2px;
}
.footer {
  background-color: #0f2454;
  height: 500px;
}
.footer-logo {
  font-size: 60px;
  padding: 10px 0px;
  color: #fff;
}
.footer-label {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.footer p {
  color: #fff;
  font-weight: 500px;
  font-size: 16px;
}
.footer-contact {
  font-size: 30px;
  color: #fff;
}
.footer-contact i {
  padding: 0px 12px;
}
.footer-list {
  padding: 30px 0px;
}
.footer-list li {
  padding: 12px 0px;
  color: #fff;
  list-style-type: circle;
}
.footer-list li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.footer-list li a:hover {
  color: #ff6162;
}

/* cart start css */
table {
  margin: 0 auto;
  padding-top: 10%;
  text-align: center;
}
th,
tr,
td {
  padding: 20px !important;
  border: 2px solid !important;
}
.td-10 {
  width: 10%;
  max-width: 150px;
  height: auto;
}
.td-30 {
  width: 30%;
  max-width: 300px;
}
.td-500 {
  width: 30%;
  max-width: 500px;
}
.quantity-box {
  width: 100px;
  overflow-x: hidden;
  left: 40%;
}
.product-plus,
.product-minus {
  position: absolute;
  top: 0;
  bottom: 0;
}
.product-plus {
  right: 0;
}
.product-minus {
  left: 0;
}
.delete-btn,
.update-btn {
  border: none;
  font-size: 20px;
}
.ctnue-button {
  flex-basis: 70%;
}
.continue-button,
.update-button,
.clear-button {
  padding: 18px 40px 17px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
  font-size: 13px;
}

/* cart end css */

/* book-detail start css */
.book-detail {
  background-color: #fff;
}
.product-detail-img {
  border: 0.5px solid #ccc;
  height: 700px;
  padding: 70px 0px;
  font-size: 16px;
}
.book-name {
  font-size: 26px;
}
.money {
  font-size: 24px;
  font-weight: 700;
  color: red;
}
.add-cart-minus,
.add-cart-plus {
  border: none;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  font-size: 10px;
  padding: 0px 4px;
}

.add-cart-minus {
  left: 0;
}
.add-cart-plus {
  right: 0;
}
.buy-book {
  max-width: 360px;
}
.buy-book .buy-button,
.add .add-button {
  background-color: #000;
  color: #fff;
  border: none;
  text-transform: uppercase;
}
.buy-book .buy-button:hover,
.add .add-button:hover {
  background-color: #ff6162;
}
.product-ask a,
.shipping a,
.wirter a,
.product-cart-category span a {
  text-decoration: none;
  color: #000;
}
.product-cart-category span a:hover,
.liked:hover,
.feedback:hover,
.product-ask a:hover,
.shipping a:hover,
.add-cart-minus:hover,
.wirter a:hover,
.add-cart-plus:hover,
.book-available:hover {
  color: #ff6162;
}

/* book-detail end css */

@media screen and (max-width: 990px) {
  .searchBtn {
    top: 5px;
    right: 53px;
  }
  .dropMenuBar {
    margin: 10px 30px;
  }
  .dropMenuBar li a {
    font-size: 16px;
    color: #ffffff;
  }
  .dropMenuBarWraper {
    background-image: linear-gradient(45deg, #245780, #214a6b);
    margin-top: 30px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .searchForm {
    width: 85%;
  }
}
@media screen and (min-width: 991px) and (max-width: 1213px) {
  .dropMenuBar li a {
    font-size: 12px;
  }
  .searchForm {
    width: 360px;
  }
}

/* animation */
@keyframes dropdown {
  from {
    top: -20%;
  }
  to {
    top: 0%;
  }
}
