<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Authentication</title>
        <link rel="stylesheet" th:href="@{/account/authentication/authentication.css}">
        <link rel="stylesheet" th:href="@{/account/authentication/extra.css}">
    </head>
    <body>
        <div class="section">
            <div class="container">
                <div class="row full-height justify-content-center">
                    <div class="col-12 text-center align-self-center py-5">
                        <div class="section pb-5 pt-5 pt-sm-2 text-center">
                            <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign
                                    Up</span></h6>
                            <input class="checkbox" type="checkbox" id="reg-log"
                                name="reg-log"/>
                            <label for="reg-log"></label>
                            <div class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                    <div class="card-front">
                                        <div class="center-wrap"> 
                                            <form method="post" class="section text-center form-login" th:action="@{/user/login}" th:object="${user}">
                                                <h4 class="mb-4 pb-3">Log In</h4>
                                                <div class="form-group">
                                                    <input type="text"
                                                        required
                                                        name="phoneNumLogin"
                                                        th:field="*{telephone}"
                                                        th:attr="onkeypress='return isNumberKey(event)'"
                                                        class="form-style phoneLogin"
                                                        maxlength="10"
                                                        placeholder="Your Phone Number" id="phoneNumLogin"
                                                        autocomplete="off">
                                                        
                                                    <i class="input-icon uil
                                                        uil-user"></i>

                                                    <span class="error" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"></span>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="password"
                                                        th:field="*{password}"
                                                        required
                                                        name="passwordLogin"
                                                        class="form-style passwordLogin"
                                                        placeholder="Your Password" id="passwordLogin"
                                                        autocomplete="off"
                                                    >
                                                    <i class="input-icon uil
                                                        uil-lock-alt"></i>
                                                    <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                                                </div>
                                                <div class="form-group mt-2 ">
                                                    <label class="checkbox-btn">
                                                        <label for="checkbox">Remember?</label>
                                                        <input id="cbxRemember" name="cbxRemember" type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    
                                                </div>
                                                <button type="submit" class="btn mt-4 btn-login" onclick="login(event)">submit</button>
                                                <p class="mb-0 mt-4
                                                    text-center"><a href="#0"
                                                        class="link">Forgot your
                                                        password?</a></p>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card-back">
                                        <div class="center-wrap">
                                            <form class="section text-center register-form" th:action="@{/user/register}" method="post" th:object="${account}">
                                                <h4 class="mb-4 pb-3">Sign Up</h4>
                                                <div class="form-group d-flex">
                                                    <input type="text"
                                                        name="phoneNumRegister"
                                                        th:attr="onkeypress='return isNumberKey(event)'"
                                                        class="form-style phoneRegister"
                                                        maxlength="10"
                                                        placeholder="Your Phone Number" id="phoneNumRegister"
                                                        autocomplete="off"
                                                        th:field="*{telephone}"
                                                    >

                                                            
                                                    <i class="input-icon uil
                                                        uil-user"></i>
                                                    <button type="button" onclick="sendCode(event)" class="btn btn-secondary">Send</button>
                                                </div>  
                                                <div class="form-group mt-2 ">
                                                    <input 
                                                        type="text" disabled
                                                        class="form-style otp_code bg-secondary"
                                                        th:attr="onkeypress='return checkCoded(event)'"
                                                        maxlength="6"
                                                        name="OTPcode"
                                                        placeholder="OTP Code"
                                                        autocomplete="off"
                                                    >
                                                    <i class="input-icon uil
                                                    uil-user"></i>
                                                    
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="password"
                                                        name="passwordRegister"
                                                        class="form-style passwordRegister bg-secondary"
                                                        placeholder="Your Password" id="passwordRegister"
                                                        autocomplete="off"
                                                        disabled
                                                        th:field="*{password}"
                                                        >
                                                    <i class="input-icon uil
                                                        uil-lock-alt"></i>
                                                </div>
                                                <button type="submit" class="btn mt-4" onclick="register(event)">submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toast alert_toast position-fixed bg-danger" id="myToast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
            <div class="toast-header">
              <strong class="mr-auto">Alert</strong>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body" th:text="${message}">
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
        
        <script th:inline="javascript">
            // Get input form object
            let otp_form_register = document.querySelector(".otp_code");
            let password_form_register = document.querySelector('.passwordRegister');
            let phoneLogin = document.querySelector('.phoneLogin');
            let passwordLogin = document.querySelector('.passwordLogin');
            let form_login = document.querySelector(".form-login");
            let otp_code = document.querySelector('.otp_code');    
            let phoneRegister = document.querySelector('.phoneRegister');
            let register_form = document.querySelector('.register-form');

            const myToast = document.querySelector('.alert_toast');
            // Two variable about disabled in both above form
            let sended_code = false;
            let true_code = false;

            function run_toast() {
                const myToast = new bootstrap.Toast(document.querySelector('.alert_toast'));
                myToast.show();
            }
            run_toast();

            // Disabled or abled in both form
            function execute_disable(){
                console.log(sended_code);
                if(sended_code){
                    otp_form_register.disabled = false;
                }
                else {
                    otp_form_register.disabled = true;
                }

                if(true_code){
                    password_form_register.disabled = false;
                }
                else {
                    password_form_register.disabled = true;
                }
            }

            // Function about only approve number format in input form
            function isNumberKey(evt) {
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                return true;
            }
            /*<![CDATA[*/
            var serverCode = /*[[${code}]]*/ '';
            function checkCoded(evt){
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                if(evt.target.value.length===6){
                    true_code = true;
                    password_form_register.classList.add("confirmed_background_register");
                    execute_disable();
                }
            }

            // Send code function in submit button
            function sendCode(event){
                event.preventDefault(); 
                sended_code = true;
                otp_form_register.classList.add("confirmed_background_register");
                var data = {
                    // Your data to be sent in the request body
                    key1: phoneRegister.value.slice(1, phoneRegister.value.length)
                };

                fetch('/user/sendCode', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => {
                    // Handle the response
                    if (response.ok) {
                        // Request was successful
                        console.log('POST request successful');
                    } else {
                        // Request failed
                        console.error('POST request failed');
                    }
                })
                .catch(error => {
                    // Handle any errors
                    console.error(error);
                });
                execute_disable();
            }
            function register(event) {
                // Prevent the default form submission behavior
                event.preventDefault();

                // Check the length of the input field
                const inputLength = password_form_register.value.length;
                

                // If the length is 0, show the toast
                if (inputLength === 0) {
                    run_toast()
                }
                else {
                    register_form.submit();
                }
            }

            function login(event){
                event.preventDefault();

                // Check the length of the input field
                const phoneNumber = phoneLogin.value.length;
                const password = passwordLogin.value.length;
                console.log(phoneLogin, passwordLogin);

                // If the length is 0, show the toast
                if (phoneNumber<11 || password===0) {
                    run_toast();
                }
                console.log("HELLO");
                form_login.submit();
            }
         </script>
    </body>
</html>