.confirmed_background_register {
    background-color: #1F2029 !important;
}

.confirmed_background_register_1 {
    background-color: #1F2029 !important;
}

.toast {
    top: 1rem;
    right: 1rem;
  }