<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- css and fonts tag -->
    <link rel="stylesheet" th:href="@{/user/css/style.css}">
    <link rel="stylesheet" th:href="@{/user/fonts/themify-icons-font/themify-icons/themify-icons.css}">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <header>
        <nav class="navbar my-navbar navbar-expand-lg navbar-light position-fixed" id="my-navbar" style="width: 100%">
            <div class="container-fluid">
                <a href="">Logo</a>
                <button class="navbar-toggler navbar-fixed-button border-0" style="box-shadow: none;" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="ti-menu"></i>
                </button>
                <div class="collapse w-75 dropMenuBarWraper navbar-collapse"
                    style="flex-grow: 0; justify-content: flex-end;" id="navbarSupportedContent">
                    <ul class="navbar-nav dropMenuBar mb-lg-0">
                        <form class="d-flex searchForm position-relative">
                            <input class="form-control header-input me-5" style="padding: 10px" type="search"
                                placeholder="Search" aria-label="Search" />
                            <button class="btn searchBtn-fixed  position-absolute fixed-search-button" type="submit">
                                <i class="ti-search"></i>
                            </button>
                        </form>
                        <li class="nav-item-fixed">
                            <a class="nav-link" style="font-weight: 600" aria-current="page" href="#">
                                <i class="ti-bell"></i>
                                Notification</a>
                        </li>
                        <li class="nav-item-fixed">
                            <a class="nav-link" style="font-weight: 600" href="#">
                                <i class="ti-shopping-cart"></i>
                                Cart</a>
                        </li>
                        <li class="nav-item-fixed dropdown">
                            <a class="nav-link dropdown-toggle" style="font-weight: 600" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ti-archive"></i>
                                Category
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" style="font-weight: 600" href="#">Action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" style="font-weight: 600" href="#">Another action</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" style="font-weight: 600" href="#">Something else here</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item-fixed">
                            <a class="nav-link" style="font-weight: 600" href="#">
                                <i class="ti-user"></i>
                                Account
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <nav class="navbar header-nav navbar-expand-lg navbar-light  px-5" id="header-navbar">
            <div class="container-fluid px-5">
                <div class="container-fluid d-flex p-3 m-0 w-100 justify-content-between align-items-center">
                    <a class="navbar-brand p-1 m-1 me-md-5 pe-md-5" href="#">Logo</a>

                    <div class="collapse navbar-collapse search-container" id="navbarSupportedContent1">

                        <form class="d-flex header-menu-search">
                            <input class="form-control header-input rounded-0" type="search" placeholder="Search"
                                aria-label="Search">
                            <button class="btn rounded-0 header-search-button" type="submit">Search</button>
                        </form>
                        <i class="ti-user nav-item" style="font-weight: 900;"></i>
                    </div>
                    <button class="navbar-toggler border-0" style="box-shadow: none;" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent1"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ti-menu"></i>
                    </button>


                </div>
                <hr width="100%">


                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                        <ul class="navbar-nav navbar-menu me-auto mb-2 mb-lg-0">
                            <li class="nav-item pe-4">
                                <a class="nav-link" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item pe-4">
                                <a class="nav-link" href="#">Notification</a>
                            </li>
                            <li class="nav-item pe-4 dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Shop
                                </a>
                                <ul class="dropdown-menu " style="top: 108%;left: -175%;width: 1032px;"
                                    aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item pe-4">
                                <a class="nav-link" href="#">Cart</a>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid category-wrapper pt-3 px-0">
            <div class="container category-container pt-5">
                <div class="row">
                    <div class="col-3 filler-title">
                        <h2>Search Fillter</h2>
                    </div>
                    <div class="col-9">
                        <div class="row">
                            <div class="col-1">
                                <button class="all-button" id="all-button">All</button>
                            </div>
                            <div class="col-2 sort-title">
                                <h2>sort by : </h2>
                            </div>
                            <div class="col-3">
                                <select id="alphabet-sort" class="alphabet-sort">
                                    <option class="option1" value="">A-Z Ascending</option>
                                    <option value="">A-Z Decrese</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <select class="cost-sort" id="cost-sort">
                                    <option value="">Low to High</option>
                                    <option value="">High to low</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <select id="time-sort" class="time-sort">
                                    <option value="">Lasted</option>
                                    <option value="">Oldest</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- category list start here -->
                    <div class="col-3">
                        <div class="search-by-cost">
                            <div class="d-flex justify-content-between">
                                <div class=""> From <input class="min-cost-input me-3" placeholder="$" type="text"
                                        name="min-cost" id="min-cost">
                                </div>
                                <div class=""> To <input class="max-cost-input me-3" placeholder="$" type="text"
                                        name="max-cost" id="max-cost">
                                </div>
                            </div>
                            <button id="cost-fillter-button" class="cost-fillter-button">Fillter</button>
                        </div>

                        <div class="seach-by-tag mb-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <h2>Tag</h2>
                                <button class="tag-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#tag-collapse" aria-expanded="false" aria-controls="tag-collapse">
                                    <i class="ti-plus"></i>
                                </button>
                            </div>
                            <div class="collapse" id="tag-collapse">
                                <ul class="tag-ul">
                                    <li><input type="checkbox" class="me-2 ckb"></li>
                                    <li><input type="checkbox" class="me-2 ckb"></li>
                                    <li><input type="checkbox" class="me-2 ckb"></li>
                                    <li><input type="checkbox" class="me-2 ckb"></li>
                                    <li><input type="checkbox" class="me-2 ckb"></li>
                                    <li><input type="checkbox" class="me-2 ckb"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="search-by-category mb-3">

                            <div class="d-flex align-items-center justify-content-between">
                                <h2>Category</h2>
                                <button class="category-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#category-collapse" aria-expanded="false"
                                    aria-controls="category-collapse">
                                    <i class="ti-plus"></i>
                                </button>
                            </div>
                            <div class="collapse" id="category-collapse">
                                <ul class="category-ul">
                                    <li><input type="checkbox" class="me-2 ckb">Shota</li>
                                    <li><input type="checkbox" class="me-2 ckb">Loli</li>
                                    <li><input type="checkbox" class="me-2 ckb">Agheo</li>
                                    <li><input type="checkbox" class="me-2 ckb"></li>
                                    <li><input type="checkbox" class="me-2 ckb"></li>
                                    <li><input type="checkbox" class="me-2 ckb"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- category list end here -->

                    <!-- product list start here -->
                    <div class="col-9">
                        <div class="row product-list-wrapper pb-4">
                            <div class="col-4 product-list">
                                <div class="prodct-wrapper">
                                    <div class="prodct-list-img w-100">
                                        <img src="./assets/img/1_1024x1024.webp" class="w-100" alt="">
                                    </div>
                                    <div class="prodct-list-inf w-100">
                                        <button class="prodct-button-name">
                                            <h2>Product Name</h2>
                                        </button>
                                        <div class="cost">$19.00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 product-list">
                                <div class="prodct-wrapper">
                                    <div class="prodct-list-img w-100">
                                        <img src="./assets/img/1_1024x1024.webp" class="w-100" alt="">
                                    </div>
                                    <div class="prodct-list-inf w-100">
                                        <button class="prodct-button-name">
                                            <h2>Product Name</h2>
                                        </button>
                                        <div class="cost">$19.00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 product-list">
                                <div class="prodct-wrapper">
                                    <div class="prodct-list-img w-100">
                                        <img src="./assets/img/1_1024x1024.webp" class="w-100" alt="">
                                    </div>
                                    <div class="prodct-list-inf w-100">
                                        <button class="prodct-button-name">
                                            <h2>Product Name</h2>
                                        </button>
                                        <div class="cost">$19.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row product-list-wrapper pb-4">
                            <div class="col-4 product-list">
                                <div class="prodct-wrapper">
                                    <div class="prodct-list-img w-100">
                                        <img src="./assets/img/1_1024x1024.webp" class="w-100" alt="">
                                    </div>
                                    <div class="prodct-list-inf w-100">
                                        <button class="prodct-button-name">
                                            <h2>Product Name</h2>
                                        </button>
                                        <div class="cost">$19.00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 product-list">
                                <div class="prodct-wrapper">
                                    <div class="prodct-list-img w-100">
                                        <img src="./assets/img/1_1024x1024.webp" class="w-100" alt="">
                                    </div>
                                    <div class="prodct-list-inf w-100">
                                        <button class="prodct-button-name">
                                            <h2>Product Name</h2>
                                        </button>
                                        <div class="cost">$19.00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 product-list">
                                <div class="prodct-wrapper">
                                    <div class="prodct-list-img w-100">
                                        <img src="./assets/img/1_1024x1024.webp" class="w-100" alt="">
                                    </div>
                                    <div class="prodct-list-inf w-100">
                                        <button class="prodct-button-name">
                                            <h2>Product Name</h2>
                                        </button>
                                        <div class="cost">$19.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row product-list-wrapper pb-4">
                            <div class="col-4 product-list">
                                <div class="prodct-wrapper">
                                    <div class="prodct-list-img w-100">
                                        <img src="./assets/img/1_1024x1024.webp" class="w-100" alt="">
                                    </div>
                                    <div class="prodct-list-inf w-100">
                                        <button class="prodct-button-name">
                                            <h2>Product Name</h2>
                                        </button>
                                        <div class="cost">$19.00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 product-list">
                                <div class="prodct-wrapper">
                                    <div class="prodct-list-img w-100">
                                        <img src="./assets/img/1_1024x1024.webp" class="w-100" alt="">
                                    </div>
                                    <div class="prodct-list-inf w-100">
                                        <button class="prodct-button-name">
                                            <h2>Product Name</h2>
                                        </button>
                                        <div class="cost">$19.00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 product-list">
                                <div class="prodct-wrapper">
                                    <div class="prodct-list-img w-100">
                                        <img src="./assets/img/1_1024x1024.webp" class="w-100" alt="">
                                    </div>
                                    <div class="prodct-list-inf w-100">
                                        <button class="prodct-button-name">
                                            <h2>Product Name</h2>
                                        </button>
                                        <div class="cost">$19.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row product-list-wrapper pb-4">
                            <div class="col-4 product-list">
                                <div class="prodct-wrapper">
                                    <div class="prodct-list-img w-100">
                                        <img src="./assets/img/1_1024x1024.webp" class="w-100" alt="">
                                    </div>
                                    <div class="prodct-list-inf w-100">
                                        <button class="prodct-button-name">
                                            <h2>Product Name</h2>
                                        </button>
                                        <div class="cost">$19.00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 product-list">
                                <div class="prodct-wrapper">
                                    <div class="prodct-list-img w-100">
                                        <img src="./assets/img/1_1024x1024.webp" class="w-100" alt="">
                                    </div>
                                    <div class="prodct-list-inf w-100">
                                        <button class="prodct-button-name">
                                            <h2>Product Name</h2>
                                        </button>
                                        <div class="cost">$19.00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 product-list">
                                <div class="prodct-wrapper">
                                    <div class="prodct-list-img w-100">
                                        <img src="./assets/img/1_1024x1024.webp" class="w-100" alt="">
                                    </div>
                                    <div class="prodct-list-inf w-100">
                                        <button class="prodct-button-name">
                                            <h2>Product Name</h2>
                                        </button>
                                        <div class="cost">$19.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="trans-pages">
                            <ul class="d-flex trans-pages-ul justify-content-center">
                                <li>
                                    <a href="">
                                        <i class="ti-angle-double-left"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">1</a>
                                </li>
                                <li>
                                    <a href="">2</a>
                                </li>
                                <li>
                                    <a href="">3</a>
                                </li>

                                <li>
                                    <a href="">
                                        <i class="ti-angle-right"></i>
                                    </a>

                                </li>
                                <li>
                                    <a href="">
                                        <i class="ti-angle-double-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- product list end here -->


                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container-fluid footer p-0">
            <div class="row w-100 p-5">
                <div class="col-3">
                    <div class="footer-logo ">
                        Logo
                    </div>
                    <p>Công Viên Phần Mềm Quang Trung Quận 12 TpHCM</p>

                    <p>Nhận đặt hàng trực tuyến và giao hàng tận nơi.
                        KHÔNG hỗ trợ đặt mua và nhận hàng trực tiếp tại
                        văn phòng cũng như tất cả Hệ Thống trên toàn quốc
                    </p>

                    <div class="footer-contact">
                        <i class="ti-facebook"></i>
                        <i class="ti-instagram"></i>
                        <i class="ti-youtube"></i>
                        <i class="ti-twitter-alt"></i>
                        <i class="ti-pinterest"></i>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="footer-winget">
                        <div class="footer-label ps-3">
                            DỊCH VỤ
                            <ul class="footer-list">
                                <li><a href="">Điều khoản sử dụng</a></li>
                                <li><a href="">Giới thiệu</a></li>
                                <li><a href="">Hệ thống trung tâm - nhà sách</a></li>
                            </ul>
                        </div>

                    </div>

                </div>
                <div class="col-3">
                    <div class="footer-label ps-3">
                        HỖ TRỢ

                        <ul class="footer-list">
                            <li><a href="">Chính sách đổi - trả - hoàn tiền</a></li>
                            <li><a href="">Chính sách vận chuyển</a></li>
                            <li><a href="">Phương thức thanh toán và xuất HĐ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="footer-label ps-3">
                        TÀI KHOẢN CỦA TÔI

                        <ul class="footer-list">
                            <li><a href="">Lịch sử mua hàng</a></li>
                            <li><a href="">Chi tiết tài khoản</a></li>
                            <li><a href="">Thay đổi địa chỉ khách hàng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>

    <script>

        const productContainers = [
            ...document.querySelectorAll(".product-container"),
        ];
        const nxtBtn = [...document.querySelectorAll(".nxt-btn")];
        const preBtn = [...document.querySelectorAll(".pre-btn")];

        productContainers.forEach((item, i) => {
            let containerDimensions = item.getBoundingClientRect();
            let containerWidth = containerDimensions.width;

            nxtBtn[i].addEventListener("click", () => {
                item.scrollLeft += containerWidth;
            });

            preBtn[i].addEventListener("click", () => {
                item.scrollLeft -= containerWidth;
            });
        });


        const productContainers2 = [
            ...document.querySelectorAll(".product-container2"),
        ];
        const nxtBtn2 = [...document.querySelectorAll(".nxt-btn2")];
        const preBtn2 = [...document.querySelectorAll(".pre-btn2")];

        productContainers2.forEach((item, i) => {
            let containerDimensions = item.getBoundingClientRect();
            let containerWidth = containerDimensions.width;

            nxtBtn2[i].addEventListener("click", () => {
                item.scrollLeft += containerWidth;
            });

            preBtn2[i].addEventListener("click", () => {
                item.scrollLeft -= containerWidth;
            });
        });


        //menu script

        var boxElement = document.getElementById('my-navbar');

        window.onscroll = function () {
            if (document.body.scrollTop > 150 || document.documentElement.scrollTop > 150) {
                boxElement.style.top = "0px";
                boxElement.style.display = "block";


            }
            else {
                boxElement.style.top = "-100px";
                boxElement.style.display = "none";

            }
        }
    </script>
</body>

</html>